[settings]
SECRET_KEY = {{ secret_key }}
DEBUG = False
ALLOWED_HOSTS = {{ domain }}
ROOT_URL = {{ domain }}
BASE_URL = https://de.cyverse.org/terrain
USERNAME = {{ domain }}
PASSWORD = {{ domain }}
CLIENT_ID = {{ client_id }}
REDIRECT_URI = https://{{ domain }}/oauth
AUTH_URL = https://auth.cyverse.org/cas5/oauth2.0/authorize
ACCESS_TOKEN_URL = https://auth.cyverse.org/cas5/oauth2.0/accessToken
CLIENT_SECRET = {{ client_secret }}
TOKEN_EXPIRY = ''
IS_DEV_ENVIRONMENT = {{ is_dev }}
REDIS_EXPIRY = 57600
DB_User = BioVizCyverse
DB_Password = BioVizCyverse
