#! /bin/bash
access_token=`curl -u '{{username}}:{{pwd}}' https://de.cyverse.org/terrain/token| cut -d ',' -f1| cut -d ':' -f2 | tr -d '"'`

curl -L -X GET 'https://{{ domain }}/SyncAppDataToBioViz/?accesstoken='$access_token

